@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:wght@300;400;500;700&display=swap');

:root {
	--color-primary: #e74423;
	--color-secondary: #731d0b;
	--color-gray: #dadada;
	--color-cream: #f1f0de;
	--color-light: #fefefe;
	--color-dark: #010101;
	--color-whatsapp: #00bb2d;
	--font-title: 'Luckiest Guy', cursive;
	--font-text: 'Montserrat', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: var(--color-primary) rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
	overflow: overlay;
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	display: initial;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(var(--color-light), var(--color-primary));
	border-radius: 2px;
}

body {
	background: var(--color-cream);
	color: var(--color-secondary);
}
